<html>
  <head>
    <title>Flask</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
         </td>
        <td>
          <h1>My Flask App</h1>

        </td>
      </tr>
    </table>

    <p>My name is Richie Meyer. I am a student from Technology Dublin University studying computer science.</p>
	<br>
	<p>Here is the contact page: </p>
	<a href="contactme.html">Contact</a>
	<br><br><br>
	<img src="images/DIT.png" alt="DIT Image">

  </body>
</html>